*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #f5d020;
  background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
}

.btn {
  width: auto;
  margin: auto;

  padding: 25px;
  border-radius: 25px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: grey;
    color: black;
  }
}

.container {
  text-align: center;
  position: relative;
}

.containerDisplay {
  text-align: center;
}

.username {
  position: relative;
  z-index: 101;
  overflow: auto;
  width: auto;
  margin: auto;
  margin-top: 250px;
  padding: 15px 25px;
  width: 50%;
  border-radius: 50px;
}

.generate {
  margin-top: 15px;
  position: relative;
  z-index: 102;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.center {
  width: auto;
  margin: auto;
  text-align: center;
}

.TopDisplay {
  padding: 50px;
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
  margin-top: 25px;
  margin-left: 250px;
  margin-right: 250px;
  border-radius: 100px;
  box-shadow: 10px 5px 5px black;
}

hr {
  color: lightgray;
}

.img {
  border-radius: 15px;
}

.usernameDisplay {
  font-family: "Nunito Sans", sans-serif;
}

p {
  font-family: "Nunito Sans", sans-serif;
}

.clear {
  margin-top: 50px;
}
